<h3>Create a new post.</h3>
<form action="/post/new" method="post">
<label>Title:</label>
<input type="text" name="post[title]">
<br/><br/>
<label>Link:</label>
<input type="text" name="post[link]">
<br/><br/>
<input type="submit" value="Post!">
</form>