<h3>Create a new status.</h3>
<form action="/status/new" method="post">
<p>Type here:</p>
<textarea cols="60" rows="5" name="status_body">
</textarea>
<p>Tags:</p>
<input type="text" name="tag[name]">
<br/><br/>
<input type="submit" value="Post!">
</form>