<h3>Log in to start sharing.</h3>
<form action="/login" method="post">
<p>Username:</p>
<input type="text" name="user[username]">
<p>Password:</p>
<input type="password" name="user[password]">
<br/><br/>
<input type="submit" value="Log in">
</form>


<h3>To start sharing, sign up.</h3>
<form action="/sign_up" method="post">

<p>Username:</p>
<input type="text" name="user[username]">
<p>Password:</p>
<input type="password" name="user[password]">
<br/><br/>
<input type="submit" value="Sign up!">
</form>



