<h3>Log in to start sharing.</h3>
<form action="/login" method="post">
<p>Email:</p>
<input type="text" name="user[email]">
<p>Password:</p>
<input type="password" name="user[password]">
<br/><br/>
<input type="submit" value="Log in">
</form>